<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>

    {% include header.html %}

        <div class="page-content">
            <div class="wrapper">

                <div id="content">
                    
                    {{ content }}
                
                </div>

                <div id="side-bar">
                    <ul id="category-menu">
                        {% assign sorted_categories = site.categories | sort %}

                        {% for category in sorted_categories %}

                        {% assign cat_name = category[0] %}
                        {% assign cat_pages = category[1] %}
                        {% assign num_pages = 0 %}

                        {% for cat_page in cat_pages %}

                        {% assign num_pages = num_pages | plus: 1 %}

                        {% endfor %}

                        <li><a href="{{site.url}}/{{cat_name}}">{{ cat_name }} ({{num_pages}})</a></li>

                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    {% include footer.html %}

    </body>

</html>
